<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensaje">
    <div class="text-right">
        <span class="badge badge-primary">Irwin</span>
        <p>
            Este es un mensaje de chat
        </p>
    </div>

    <div class="text-left">
        <span class="badge badge-success">Maria</span>
        <p>
            Saludos Irwin
        </p>
    </div>
</div>

<input type="text" class="form-control" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar mensaje" (keyup.enter)="enviar_mensaje()">