<!-- <ul>
    <li class="text" *ngFor="let chat of chats | async">
        {{chat.mensaje}}
    </li>
</ul> -->

<div class="container main-container">
    <h1>Firechat</h1>

    <div class="col-md-12 text-right" *ngIf="chartService.usuario.uid">
        <button (click)="chartService.logout()" type="button" class="btn btn-outline-danger">
            Salir
        </button>
    </div>

    <app-login *ngIf="!chartService.usuario.uid"></app-login>

    <div class="chat-window" *ngIf="chartService.usuario.uid">
        <app-chat></app-chat>
    </div>
</div>